<div class="col-md-3">
  <%= render 'layouts/info', books: @books, user: @user, room: @room, entry: @entry, room_id: @room_id, is_room: @is_room  %>
  <%= render 'layouts/new', book: @book %>
</div>
<%= render 'layouts/books', books: @books %>