<%= render 'layouts/error', problem: @book %>
<div class="col-md-3">
  <%= render 'layouts/info', books: @books, user: current_user %>
  <%= render 'layouts/new', book: @book %>
</div>
<%= render 'layouts/books', books: @books %>