<% if problem.errors.any? %>
  <div class="error">
    <h3 class = "error-ttl" style = "color: #FF0000"><%= pluralize(problem.errors.count, "error") %> prohibited this obj from being saved:</h3>
    <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li style="color: #FF0000"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>