<% if problem.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h3 class = "error-ttl"><%= pluralize(problem.errors.count, "error") %> prohibited this obj from being saved:</h3>
    <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
